Repository modin-project/modin, changes with the owners that CODEOWNERS names for each.
All owners: @modin-project/modin-core, @modin-project/modin-omnisci, @modin-project/modin-xgboost

DOCS-#2804: Add animated Modin import to docs
  docs/img/Modin_Pandas_Import.gif
  docs/index.rst
  examples/jupyter/Docs_Example.ipynb
Owners: @modin-project/modin-core

FEAT-2796: Change MODIN_BACKEND keyword to fix CI error
  .github/workflows/ci.yml
  .github/workflows/push.yml
Owners: @modin-project/modin-core

FEAT-#2796: Remove spreadsheet python 3.6 tests
  .github/workflows/ci.yml
  .github/workflows/push.yml
Owners: @modin-project/modin-core

DOCS-#2804: Removed examples/jupyter/Docs_Example.ipynb
  examples/jupyter/Docs_Example.ipynb
Owners: @modin-project/modin-core

FEAT-#2796: Add spreadsheet API (#2797)
  .github/workflows/ci.yml
  .github/workflows/push.yml
  environment-dev.yml
  examples/spreadsheet/requirements.txt
  examples/spreadsheet/tutorial.ipynb
  modin/spreadsheet/__init__.py
  modin/spreadsheet/general.py
  modin/spreadsheet/test/__init__.py
  modin/spreadsheet/test/test_general.py
  requirements-dev.txt
  setup.py
Owners: @modin-project/modin-core

DOCS-#2804: Add animated Modin import to docs (#2807)
  docs/img/Modin_Pandas_Import.gif
  docs/index.rst
Owners: @modin-project/modin-core

TEST-#2805: fix to_pandas bench
  asv_bench/benchmarks/scalability/scalability_benchmarks.py
Owners: @modin-project/modin-core

TEST-#2809: move sorted function from 'value_counts' tests to utils
  modin/pandas/test/test_general.py
  modin/pandas/test/test_series.py
  modin/pandas/test/utils.py
Owners: @modin-project/modin-core

FIX-#2795: Update pandas to 1.2.3 (#2799)
  environment-dev.yml
  modin/pandas/__init__.py
  requirements-dev.txt
  requirements/env_omnisci.yml
  setup.py
Owners: @modin-project/modin-core

TEST-#2805: use wait function to get the right performance times (#2806)
  asv_bench/benchmarks/scalability/scalability_benchmarks.py
  asv_bench/benchmarks/utils.py
Owners: @modin-project/modin-core

TEST-#2809: move sorted function from 'value_counts' tests to utils (#2810)
  modin/pandas/test/test_general.py
  modin/pandas/test/test_series.py
  modin/pandas/test/utils.py
Owners: @modin-project/modin-core

FEAT-#2800: add wait_computations, wait apis
  modin/engines/base/frame/data.py
  modin/engines/base/frame/partition.py
  modin/engines/base/frame/partition_manager.py
  modin/engines/dask/pandas_on_dask/frame/partition.py
  modin/engines/python/pandas_on_python/frame/partition.py
  modin/engines/ray/pandas_on_ray/frame/partition.py
  modin/experimental/engines/omnisci_on_ray/frame/partition.py
Owners: @modin-project/modin-core, @modin-project/modin-omnisci

FEAT-#2800: add test
  .github/workflows/ci.yml
  modin/pandas/test/internals/__init__.py
  modin/pandas/test/internals/test_internals.py
Owners: @modin-project/modin-core

FEAT-#2800: fix import
  modin/pandas/test/internals/test_internals.py
Owners: @modin-project/modin-core

FEAT-#2800: add syncronous benchmark mode
  .github/workflows/ci.yml
  modin/config/envvars.py
  modin/engines/base/frame/data.py
  modin/pandas/test/internals/test_benchmark_mode.py
Owners: @modin-project/modin-core

FEAT-#2800: update on map usage
  modin/engines/base/frame/partition_manager.py
Owners: @modin-project/modin-core

FEAT-#2800: use wait_computations for to_csv
  modin/engines/ray/generic/io.py
Owners: @modin-project/modin-core

FEAT-#2800: correct use of map
  modin/engines/base/frame/partition_manager.py
Owners: @modin-project/modin-core

FEAT-#2800: correct use of map in asv benchs
  asv_bench/benchmarks/utils.py
Owners: @modin-project/modin-core

REFACTOR-#2642: Refactor partition API (#2643)
  docs/developer/pandas/partition_api.rst
  docs/index.rst
  modin/distributed/dataframe/pandas/partitions.py
  modin/engines/base/frame/axis_partition.py
  modin/engines/dask/pandas_on_dask/frame/axis_partition.py
  modin/engines/dask/pandas_on_dask/frame/partition.py
  modin/engines/ray/pandas_on_ray/frame/axis_partition.py
  modin/engines/ray/pandas_on_ray/frame/partition.py
  modin/experimental/xgboost/xgboost_ray.py
  modin/test/test_partition_api.py
Owners: @modin-project/modin-core, @modin-project/modin-xgboost

FEAT-#2645: Add new approach of data distribution in xgb
  docs/modin_xgboost.rst
  modin/distributed/dataframe/pandas/partitions.py
  modin/experimental/xgboost/__init__.py
  modin/experimental/xgboost/utils.py
  modin/experimental/xgboost/xgboost.py
  modin/experimental/xgboost/xgboost_ray.py
Owners: @modin-project/modin-core, @modin-project/modin-xgboost

FEAT-#2645: Remove evenly/locally approaches
  docs/modin_xgboost.rst
  modin/distributed/dataframe/pandas/partitions.py
  modin/experimental/xgboost/__init__.py
  modin/experimental/xgboost/utils.py
  modin/experimental/xgboost/xgboost.py
  modin/experimental/xgboost/xgboost_ray.py
Owners: @modin-project/modin-core, @modin-project/modin-xgboost

FEAT-#2645: Add new approach of data distribution in Modin XGBoost (#2679)
  docs/modin_xgboost.rst
  modin/experimental/xgboost/xgboost.py
  modin/experimental/xgboost/xgboost_ray.py
Owners: @modin-project/modin-core, @modin-project/modin-xgboost

FEAT-#2800: address review comments
  .github/workflows/ci.yml
  modin/engines/base/frame/data.py
  modin/engines/base/frame/partition_manager.py
  modin/engines/ray/generic/io.py
  modin/pandas/test/internals/test_benchmark_mode.py
Owners: @modin-project/modin-core

Version 0.9.0
  README.md
Owners: @modin-project/modin-core

TEST-#2820: Remove test dependencies on push
  .github/workflows/push.yml
Owners: @modin-project/modin-core

FEAT-#2530: Implementation for `reset_index` on MultiIndex
  modin/backends/pandas/query_compiler.py
Owners: @modin-project/modin-core

TEST-#2530: Added new tests for MultiIndex reset_index
  modin/conftest.py
  modin/pandas/test/dataframe/test_indexing.py
  modin/pandas/test/dataframe/test_iter.py
  modin/pandas/test/utils.py
Owners: @modin-project/modin-core

FIX-#2530: Automatic formatting fixes
  modin/backends/pandas/query_compiler.py
Owners: @modin-project/modin-core

FIX-#2530: Fixed from_labels to work correctly with multi-level columns
  modin/engines/base/frame/data.py
Owners: @modin-project/modin-core

TEST-#2530: Added level identification by name rather than by index
  modin/pandas/test/dataframe/test_indexing.py
Owners: @modin-project/modin-core

FIX-#2530: Added passing col_level and col_fill parameters to query_compiler
  modin/pandas/base.py
Owners: @modin-project/modin-core

FIX-#2530: Fixed case when some levels reset and some levels remain
  modin/backends/pandas/query_compiler.py
Owners: @modin-project/modin-core

FIX-#2530: Fixed column names with col_level and col_fill
  modin/backends/pandas/query_compiler.py
Owners: @modin-project/modin-core

FIX-#2350: Added tuple expansion in level names
  modin/backends/pandas/query_compiler.py
  modin/engines/base/frame/data.py
Owners: @modin-project/modin-core

FIX-#2530: Fixed case when level has repeated level indexes
  modin/backends/pandas/query_compiler.py
Owners: @modin-project/modin-core

FIX-#2530: Fixed case with tuples in index level names and
  modin/engines/base/frame/data.py
Owners: @modin-project/modin-core

FIX-#2530: Fixed comment to reflect current state.
  modin/backends/pandas/query_compiler.py
Owners: @modin-project/modin-core

FIX-#2530: Moved common code out from branches
  modin/engines/base/frame/data.py
Owners: @modin-project/modin-core

TEST-#2820: Remove test dependencies on push (#2821)
  .github/workflows/push.yml
Owners: @modin-project/modin-core

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence,
*    @modin-project/modin-core

# These owners will review everything in the Omnisci engine component
# of Modin.
/modin/experimental/backends/omnisci/**    @modin-project/modin-omnisci
/modin/experimental/engines/omnisci_on_ray/**    @modin-project/modin-omnisci

# These owners will review everything related to the xgboost implementation
# in Modin
/modin/experimental/xgboost/**  @modin-project/modin-xgboost
