Repository modin-project/modin, changes with the owners that CODEOWNERS names for each.
All owners: @modin-project/modin-core, @modin-project/modin-omnisci, @modin-project/modin-xgboost

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence,
*    @modin-project/modin-core

# These owners will review everything in the Omnisci engine component
# of Modin.
/modin/experimental/backends/omnisci/**    @modin-project/modin-omnisci
/modin/experimental/engines/omnisci_on_ray/**    @modin-project/modin-omnisci

# These owners will review everything related to the xgboost implementation
# in Modin
/modin/experimental/xgboost/**  @modin-project/modin-xgboost

Version 0.9.0 (#2822)
  README.md
Owners: @modin-project/modin-core

Update architecture link in modin_vs_dask.md
  docs/modin_vs_dask.md
Owners: @modin-project/modin-core

DOCS-#0000: Fix broken architecture link
  docs/modin_vs_dask.md
Owners: @modin-project/modin-core

DOCS-#2819: Fix broken architecture link (#2823)
  docs/modin_vs_dask.md
Owners: @modin-project/modin-core

FIX-#2824: Add init files into distributed folder
  modin/distributed/__init__.py
  modin/distributed/dataframe/__init__.py
Owners: @modin-project/modin-core

FIX-#2826: Add tqdm into environment-dev file
  environment-dev.yml
Owners: @modin-project/modin-core

FEAT-#0000: test pyarrow 2.0.0
  requirements/env_omnisci.yml
Owners: @modin-project/modin-core

FEAT-#0000: update python version
  .github/workflows/ci.yml
Owners: @modin-project/modin-core

FEAT-#0000: add publisher artefacts
  .github/workflows/ci.yml
Owners: @modin-project/modin-core

FEAT-#0000: print env
  .github/workflows/ci.yml
Owners: @modin-project/modin-core

FEAT-#0000: remove numpy' upper bound for omnisci backend
  requirements/env_omnisci.yml
Owners: @modin-project/modin-core

REFACTOR-#0000: removed limitation on the micro part of python version
  .github/workflows/ci.yml
  .github/workflows/push.yml
Owners: @modin-project/modin-core

FEAT-#0000: clean PR
  .github/workflows/ci.yml
  requirements/env_omnisci.yml
Owners: @modin-project/modin-core

FIX-#2824: Add init files into distributed folder (#2825)
  modin/distributed/__init__.py
  modin/distributed/dataframe/__init__.py
Owners: @modin-project/modin-core

FEAT-#0000: return modintest channel
  requirements/env_omnisci.yml
Owners: @modin-project/modin-core

FIX-#2826: Add tqdm into environment-dev file (#2827)
  environment-dev.yml
Owners: @modin-project/modin-core

FEAT-#2800: add compatibility check
  modin/config/envvars.py
Owners: @modin-project/modin-core

FIX-#2530: Updated comments
  modin/engines/base/frame/data.py
Owners: @modin-project/modin-core

TEST-#2832: removed limitation on the micro part of python version (#2831)
  .github/workflows/ci.yml
  .github/workflows/push.yml
Owners: @modin-project/modin-core

REFACTOR-#2656: Replace _indices and _numeric_idx everywhere
  modin/backends/pandas/query_compiler.py
  modin/engines/base/frame/dataframe.py
  modin/engines/base/frame/partition.py
  modin/engines/dask/pandas_on_dask/frame/partition.py
  modin/engines/python/pandas_on_python/frame/partition.py
  modin/engines/ray/pandas_on_ray/frame/partition.py
  modin/experimental/engines/omnisci_on_ray/frame/calcite_builder.py
  modin/experimental/engines/omnisci_on_ray/frame/data.py
  modin/experimental/engines/omnisci_on_ray/frame/df_algebra.py
Owners: @modin-project/modin-core, @modin-project/modin-omnisci

REFACTOR-#2656: Begin adding algebra unit tests
  .github/workflows/ci.yml
  .github/workflows/push.yml
  modin/engines/base/frame/dataframe.py
  modin/test/test_algebra.py
Owners: @modin-project/modin-core

REFACTOR-#2656: Lint and formatting
  modin/engines/base/frame/dataframe.py
  modin/test/test_algebra.py
Owners: @modin-project/modin-core

REFACTOR-#2656: Add Basic Filter Tests
  modin/test/test_algebra.py
Owners: @modin-project/modin-core

FIX-#2680: fix omnisci engine work with numpy>=1.20.0 (#2791)
  requirements/env_omnisci.yml
Owners: @modin-project/modin-core

FEAT-#2800: add wait_computations, wait apis (#2801)
  .github/workflows/ci.yml
  asv_bench/benchmarks/utils.py
  modin/config/envvars.py
  modin/engines/base/frame/partition.py
  modin/engines/base/frame/partition_manager.py
  modin/engines/dask/pandas_on_dask/frame/partition.py
  modin/engines/python/pandas_on_python/frame/partition.py
  modin/engines/ray/pandas_on_ray/frame/partition.py
  modin/experimental/engines/omnisci_on_ray/frame/partition.py
  modin/pandas/test/internals/__init__.py
  modin/pandas/test/internals/test_benchmark_mode.py
Owners: @modin-project/modin-core, @modin-project/modin-omnisci

FEAT-#1611: Add some datetime extraction functions
  modin/experimental/backends/omnisci/query_compiler.py
  modin/experimental/engines/omnisci_on_ray/frame/expr.py
  modin/experimental/engines/omnisci_on_ray/test/test_dataframe.py
Owners: @modin-project/modin-omnisci
